* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
#header {
    padding: 15px 0;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(5px);
    width: 100%;
    z-index: 10;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: ani 1s alternate ;
}
@keyframes ani {
    0% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a {
    margin-left: 70px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);

}
.header select {
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgba(31, 46, 53, 0.8);
    border: none;
    margin-left: 20px;
    outline: none;
}
.header select option {
    background: transparent;
    color: black;
}
.icons {
    display: flex;

}
.icons a {
    margin-right: -45px;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.hero-block-title h1 {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #1F2E35;
}
.hero-block-title span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #EE4248;;
}
.hero-block-title p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #30444E;
    margin-top: 50px;
}
.hero-block-title button {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    width: 161px;
    height: 53px;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    margin-top: 50px;
}
#content {
    background: #F7F7F7;
}
.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.content h1 {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #1F2E35;
}
.content span {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
   color: #EE4248;
}
.content p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
    margin-top: 35px;
}
.product h1 {
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #1F2E35;
}
.tips {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tip {
    flex-direction: column;
}
.tip h1 {
    margin: 10px 130px 30px 0 ;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #EE4248;
}
.tip p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #30444E;
}
.tip button {
    width: 119px;
    height: 42px;
    background: #EE4248;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    border:  none;
    margin-top: 30px;
}
.hero-block-content {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 70px;
}
.hero-block {
    margin-left: 40px;
}
.hero-block h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #263238;
    margin: 10px 0;
}
.hero-block p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #263238;
    margin: 10px 0;
}
.hero-content {
    margin:25px 0 0 70px;
}
.hero-content h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #263238;
    margin: 10px 0;
}
.hero-content p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #263238;
    margin: 15px 0;
}
#footer {
    background: #EE4248;
    margin-top: 50px;
}
.footer h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 200px;
}
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
